<ion-header>
	<ion-toolbar class="ion-text-center headerToolbar">
		<ion-text class="headerTitle">
			{{ taskDescription }}
		</ion-text>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="editionContainer">
		<ion-grid class="ion-padding">
			<ion-row class="ion-justify-content-center ion-align-items-center">
				<ion-col sizeXs="10" sizeSm="8" sizeMd="6" sizeLg="4" class="ion-padding">
					@if(task){
					<ion-label>Fréquence :</ion-label>
					<ion-select
						aria-label="frequency"
						id="frequency"
						name="frequency"
						interface="popover"
						placeholder="Choisir une fréquence"
						[(ngModel)]="task.frequency">
						<ion-select-option value="none">Aucun</ion-select-option>
						<ion-select-option value="daily">Quotidien</ion-select-option>
						<ion-select-option value="weekly">Hebdomadaire</ion-select-option>
						<ion-select-option value="monthly">Mensuel</ion-select-option>
						<ion-select-option value="yearly">Annuel</ion-select-option>
					</ion-select>
					}
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-center ion-align-items-center">
				<ion-col sizeXs="10" sizeSm="8" sizeMd="6" sizeLg="4" class="ion-padding">
					@if(task){
					<ion-label> Date d'exécution :</ion-label>
					<ion-datetime
						aria-label="dueDate"
						id="dueDate"
						name="dueDate"
						locale="fr-FR"
						presentation="date"
						[(ngModel)]="task.dueDate">
					</ion-datetime>
					}
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-center ion-align-items-center">
				@if(task){
				<ion-button id="open-toast" (click)="addTask(task)">Ajouter la tâche</ion-button>
				<ion-toast
					trigger="open-toast"
					[buttons]="toastButtons"
					(didDismiss)="setRoleMessage($event)"
					message="La tâche a bien été ajouté"
					[duration]="2000"></ion-toast>
				}
			</ion-row>
		</ion-grid>

		<ion-fab slot="fixed" vertical="bottom" horizontal="end">
			<ion-fab-button (click)="backToCat()">
				<ion-img src="./Illustrations/Menu/chore_home_menu_icon.webp"></ion-img>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>

<!-- <div>
	<h1>
		{{ taskDescription }}
	</h1>
</div>

<div>
	<p>Rappel :</p>

	<label for="frequency">Fréquence :</label><br />
	@if(task){
	<select
		id="frequency"
		[(ngModel)]="task.frequency"
		name="frequency">
		<option value="none">Aucun</option>
		<option value="daily">Quotidien</option>
		<option value="weekly">Hebdomadaire</option>
		<option value="monthly">Mensuel</option>
		<option value="yearly">Annuel</option>
	</select>
	}<br />

	<label for="dueDate">Date d'exécution :</label><br />
	@if(task){
	<input
		type="date"
		[(ngModel)]="task.dueDate" />
	}
</div>
<div>
	@if(task){
	<button (click)="addTask(task)">Add task</button>
	}

	<button (click)="backToCat()">Back to categories</button>
</div> -->
