<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="chore-homepage">
			<ion-grid>
				<ion-row class="ion-justify-content-center ion-align-items-center">
					<ion-col>
						<ion-img
							class="menuIcons"
							src="./Illustrations/Menu/chore_home_menu_icon.webp">
						</ion-img>
					</ion-col>
					<ion-col>
						<ion-text class="menuText">Maison</ion-text>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-tab-button>
		<ion-tab-button tab="calendar">
			<ion-grid>
				<ion-row class="ion-justify-content-center ion-align-items-center">
					<ion-col>
						<ion-img
							class="menuIcons"
							src="./Illustrations/Menu/chore_calendar_menu_icon.webp">
						</ion-img>
					</ion-col>
					<ion-col>
						<ion-text class="menuText">Calendrier</ion-text>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
