<ion-content>
	<div class="topContainer ion-padding">
		<ion-grid class="ion-padding loginHomepageGrid">
			<ion-row>
				<ion-col>
					<ion-img src="./Illustrations/Clouds/sky_clouds.webp"></ion-img>
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-center illustrationRow">
				<ion-col
					sizeXs="9"
					sizeSm="5"
					sizeMd="5"
					sizeLg="5"
					sizeXl="5"
					class="illustrationCol">
					<ion-img
						src="./Illustrations/House/house.webp"
						alt="house_illustration"
						class="houseIllustration"></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div class="ion-padding">
		<ion-grid>
			<ion-row class="ion-justify-content-center titleRow">
				<ion-col
					sizeSm="3"
					sizeMd="5"
					sizeLg="4"
					sizeXl="4"
					class="ion-text-center">
					<ion-text class="appTitle">HomeFlow</ion-text>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div class="bottomContainer ion-padding">
		<ion-grid class="ion-padding">
			<ion-row class="ion-justify-content-center ion-align-items-center signUpRow">
				<ion-col
					size="auto"
					class="ion-text-center">
					<ion-button
						routerLink="/sign-up"
						expand="block"
						>Créer un compte</ion-button
					>
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-center ion-align-items-center signInRow">
				<ion-col
					size="auto"
					class="ion-text-center">
					<ion-button expand="block">Se Connecter</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
