<ion-content class="linear-gradient-background">
	<div class="loginContainer ion-padding">
		<ion-grid class="ion-padding">
			<ion-row class="ion-justify-content-center ion-align-items-center illustrationRow">
				<ion-col
					sizeSm="3"
					sizeMd="6"
					sizeLg="10"
					class="illustrationCol">
					<ion-img
						src="./Illustrations/House/house_login_illustration.png"
						alt="house_illustration"
						class="houseIllustration"></ion-img>
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-center ion-align-items-center titleRow">
				<ion-col
					sizeSm="3"
					sizeMd="6"
					sizeLg="8"
					sizeXl="12"
					class="ion-text-center">
					<ion-text class="appTitle"> HomeFlow </ion-text>
				</ion-col>
			</ion-row>

			<ion-row class="ion-justify-content-center ion-align-items-center signUpRow">
				<ion-col
					size="auto"
					class="ion-text-center">
					<ion-button
						routerLink="/sign-up"
						expand="block"
						>Créer un compte</ion-button
					>
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-center ion-align-items-center signInRow">
				<ion-col
					size="auto"
					class="ion-text-center">
					<ion-button expand="block">Se Connecter</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
