ion-content {
	--background: #fcf8ed;
}

ion-button {
	--background: #264653;
	--color: #fcf8ed;
	--border-radius: 12px;
	width: 182px;
	height: 58.9px;
	font-size: 0.8rem;
}

ion-col {
	display: flex;
	justify-content: center;
	align-items: center;
}
