<ion-content>
	<ion-grid class="ion-padding">
		<ion-row class="ion-justify-content-center ion-align-items-center">
			<ion-col sizeLg="6" class="ion-no-padding">
				<div class="calendar-container ion-padding">
					<full-calendar [options]="calendarOptions"></full-calendar>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				@if(selectedDate){
				<p>Tasks for {{ selectedDate }}</p>
				: @if(tasksForSelectedDate.length > 0){ @for(task of
				tasksForSelectedDate; track task.uuid){
				<ion-card>
					<ion-card-content>
						{{ task.description }}
					</ion-card-content>
				</ion-card>
				}}}
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<!-- <full-calendar [options]="calendarOptions"></full-calendar>

<div>
	@if(selectedDate){
	<h3>Tasks for {{ selectedDate }}:</h3>
	@if(tasksForSelectedDate.length > 0){
	<ul>
		@for(task of tasksForSelectedDate; track task.uuid){
		<li>
			<p [ngStyle]="{ color: task.validated ? 'green' : 'black' }">
				{{ task.description }}
			</p>
		</li>
		}
	</ul>
	}@else {
	<p>No tasks for this date.</p>
	} }
</div>

<div>
	<button (click)="backToHome()">Back to home</button>
</div> -->
